#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  text-align: left;
}

.article-item {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  width: calc(50% - 2rem);
  max-width: 100%;
  box-sizing: border-box;
  text-align: left;
}


@media (min-width: 1024px) {
  .article-item {
    width: calc(33.33% - 2rem);
  }
}

.article-item img {
  max-width: 100%;
  height: auto; 
}

.article-item a {
  color: black
}
